<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asistencia.digital.monitor">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name=".activities.MainGeo"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ServiceMain"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".services.ServiLoc"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".services.AppLocationService"
            android:enabled="true"
            android:exported="false"></service>

        <receiver
            android:name=".StartMyServiceAtBootReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GooglePush.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GooglePush.MyInstanceIdListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.id.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".GooglePush.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".ConfirmacionRespuesta"
            android:label="@string/title_activity_confirmacion_respuesta"></activity>
        <activity
            android:name=".AlertaRespuesta"
            android:label="@string/title_activity_alerta_respuesta"></activity>
    </application>

</manifest>